<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/styles/styles.css">
    <link rel="stylesheet" href="./../public/styles/addnewschedule.css">
    <title>Add New Schedule</title>
</head>
<body><h4>Add Schedule</h4>
    <section>
        <form class="add-schedule-form">
            <div>
               <input type="date" class="add-schedule-date" size="30">
               <p class="add-schedule-date-message"></p>
            </div>
            <div>
                <input type="time" class="add-schedule-time" size="30">
                <p class="add-schedule-time-message"></p>
            </div>
            <input type="submit" class="add-schedule-form-submit" value="Add">
            <input type="submit" class="add-schedule-form-cancel" value="Cancel">
        </form>
        <p class="add-schedule-submit-message"></p>
    </section>
</body>
<script src="./../renderers/addschedule.js"></script>
</html>
