<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/styles/styles.css">
    <link rel="stylesheet" href="./../public/styles/index.css">
    <title id="title-id">ms app</title>
</head>
<body>
    <h1 class="app-title">Meetings Schedule</h1>
    <h4>login</h4>
    <section class="login">
        <form class="login-form">
            <div>
                <input type="tel" class="user-mobile" placeholder="089 345 8908" size="30" required autofocus>
                <p class="user-mobile-message"></p>
            </div>
            <div>
                <span>
                    <input type="password" class="user-password" size="30" required>
                    <input class="user-password-checkbox" type="checkbox">show
                </span>
                <p class="user-password-message"></p>
            </div>
            <input type="submit" class="form-submit" value="submit" >
            <input type="submit" class="form-submit-cancel" value="cancel">
        </form>
        <p class="submit-message"></p>
    </section>
    </body>
<script src="./../renderers/loginrenderer.js"></script>
</html>


