<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./../public/styles/splash.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <img class="img-bg" src="./../public/assets/four.jpg" width="400" alt="splash" />
        <!-- <img class="img-bg" src="./../public/assets/six.jpg" width="400" alt="splash" /> -->
        <p class="version-info">version <span class="version"></span></p>
        <div class="content">MS</div>
    </div>
</body>
<script src="./../renderers/splash.js"></script>
</html>
